-- ============================================================
-- FINANCE PRO - FULL SCHEMA PLACEHOLDER
-- ============================================================
-- Este archivo no debe editarse manualmente.
-- Fuente canonica actual: supabase/migrations/
--
-- Para reconstruir "full schema":
-- 1) Provisionar DB vacia
-- 2) Aplicar todas las migraciones en orden
-- 3) Exportar esquema completo desde Supabase/Postgres
SELECT 'Full schema must be generated from migrations' AS status;
